repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: check-ast
    -   id: check-added-large-files
    -   id: check-docstring-first
    -   id: requirements-txt-fixer
-   repo: local
    hooks:
    -   id: black
        name: black
        language: system
        entry: black
        types: [python]
    -   id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [python]
