[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"
pep8 = "*"
black = "*"
mypy = "*"
pytest-cov = "*"

[packages]
humps = "*"
requests = "*"
argparse-prompt = "*"
pydantic = "*"
folio-uuid = "*"
pymarc = "*"
folioclient = "*"
defusedxml = "*"
flake8 = "*"
pre-commit = "*"
darglint = "*"
python-dateutil = "*"
lxml = "*"
build = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest"
