[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"
pep8 = "*"
black = "*"

[packages]
jsonschema = "*"
requests = "*"
pymarc = "*"
lxml = "*"
python-jsonschema-objects = "*"
pylint = "*"
black = "*"
Deprecated = "*"
folioclient = "*"
argparse-prompt = "*"
pandas = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
