[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"
pep8 = "*"
black = "*"
mypy = "*"

[packages]
requests = "*"
pymarc = "*"
lxml = "*"
pylint = "*"
black = "*"
Deprecated = "*"
argparse-prompt = "*"
pytest-cov = "*"
appdirs = "*"
astroid = "*"
attrs = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
idna = "*"
inflection = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
mypy-extensions = "*"
pathspec = "*"
pyrsistent = "*"
python-dateutil = "*"
pytz = "*"
regex = "*"
six = "*"
toml = "*"
tomli = "*"
urllib3 = "*"
wrapt = "*"
Markdown = "*"
folio-uuid = "==0.2.5"
pydantic = "*"
pyhumps = "*"
joblib = "*"
parameterized = "*"
folioclient = "==0.41.0"
pyyaml = "*"
flake8-bugbear = "*"
flake8-bandit = "*"
safety = "*"
defusedxml = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
test = "pytest"
