# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build and Test

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    - name: Install nox
      run: |
          python -m pip install nox
      
    - name: Install poetry
      run: |
          python -m pip install poetry

    - name: Install dependencies
      run: |
        poetry install --with dev
    
    - name: Make sure the code can run
      run: |
        # cd src; poetry run python -m folio_migration_tools -h

    - name: Run the nox test session
      env:
        GITHUB_TOKEN: ${{ secrets.TESTS_GITHUB_TOKEN }}
      run: |
        nox -rs tests

    - name: Run the nox lint session
      run: |
        nox -rs lint

    - name: Run the nox safety session
      run: |
        nox -rs safety


    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3.1.4        
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        directory: ./
        env_vars: OS,PYTHON
        fail_ci_if_error: true
        files: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        verbose: true

    
    - name: clone repo_template
      uses: actions/checkout@master
      with:
        repository: FOLIO-FSE/migration_repo_template
        path: ./migration_repo_template
